body {
	background: url(whitey.png);
	text-align:center;
	margin:0;
}
.fade {
	opacity: 0.6;
}
#container{
	width:760px;
	height:100%;
	margin:0 auto;	
}
#heading{
	position:relative;
	margin-top:200px;
	font-size:90px;
	color: #222;
	text-shadow: 0px 2px 3px #555;
}
#nav {
	position:relative;
	padding:0px;
	list-style:none;
	/*width:1028px;*/
	float:left;
	font-size:24px;
	margin-left:50px;
}

#nav li {
	position:relative;
	float:left;
	list-style:none;
	padding:0px;
	margin-left:30px;
	margin-right:40px;
	margin-top:0px;
	color: #222;
	text-shadow: 0px 2px 3px #555;

}

#email{
	position:relative;
	margin-top:100px;
	margin-left:0px;	
}

#follow{
	position:relative;
	margin-top:50px;
	margin-left:270px;
	text-align:center;
	padding-right:20px;	
	font-size:20px;
}

.shift{
	padding-right:20px;
}

.math{
	font-weight:normal;
	font-size:18px;	
}

.days{
	font-size:20px;
}